*{
    margin: 0;
    padding: 0;

}
.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.just-center{
    justify-content: center;
}
.alig-item{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.m1{
    margin: 10px;
}
.rad{
    border-radius: 8px;
}
.bg-grey{
    background-color: rgb(130, 92, 98);
}


body{
    background-color: rgb(225, 202, 205);
    color: white;
    
}
.left{
    width: 22vw;
    padding: 3px;
    height:100vh ;
    
    
}
.top{
    padding:20px;
    margin: 5px;
}
.right{
    width: 78vw;
    height: 100vh;

    margin:7px;
    overflow: auto;

}

.sec1 img{
    width: 25px;
    display: flex;
    flex-direction: column;
    padding: 13px 0px;
    padding-right: 20px;
    
}
.part{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-weight: bold;
}
nav{
    background-color: #c5a6ab;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 8px;
    position:static;
    
}

.bar button{
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    
}
.b1 button{
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(124, 121, 121);
    color: white;
    border: 1px solid rgb(124, 121, 121) ;
    opacity: 0.75;
    
}
.b2 button{
    color: white;
    background-color: black;
    font-size: 16px; 
    font-weight:500;
    border: 0px;

}

.b2  :nth-child(1){
    color: black;
    background-color: white;
    font-size: 16px; 
    font-weight:700;
    border: 0px;

}
.b1 :nth-child(2){
    color: black;
    background-color: white;
    font-size: 16px; 
    font-weight:700;
    border: 0px;

}
.liked{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: 500;
    color: #1dc459;
    align-items: center;
    margin-top: 20px;
    
}
.liked img{
    width: 35px;
    border-radius: 5px;
    margin-right: 20px;
    
}

.c1 .play{
    border: 1px solid   #1dc459;
    background-color:  #1dc459;
    border-radius: 95%;
    position: absolute;
    width: 22px;
    padding: 7px;
    top: 115px;
    left:122px;
    
    
}
.c1 .i{
    width: 150px;
    border-radius: 7px;
    
}

.c1{
    display: flex;
    flex-direction: row;
}

.c1:hover{
    background-color: pink;


}

 .card {
        display: grid;
        grid-auto-flow: column;
       
        padding-bottom: 10px;
        margin-top: 20px;
        overflow-x: auto;
        gap: 20px;
        background-color:#e1cacd ;
        padding-top: 10px;
        border-radius: 5px;
    
    }
    .card::-webkit-scrollbar{
        width:0;
    }
    
    
    .c1{
    
        padding-top: 15px;
        padding: 15px;
        padding-bottom: 60px;
        
        
        margin-left: 10px;
        background-color: #dab6bc;
        border-radius: 5px;
        width: 152px;
        height: 180px;
        overflow:hidden;
        position: relative;
        margin: bottom 20px ;
        
    
    
    }
    
.card-container{

    margin: 7px;
    padding: 10px;
    padding-bottom: 100px;
    

}
.right::-webkit-scrollbar{
    width: 0;
}
.c1 p1{
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 3px;
    
}
.c1 p2{
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 3px;
    color: rgb(161, 159, 159);
}
.para{
    display: flex;
    flex-direction: column;
}
.card-container span{
    margin:0px;
    margin-top: 7px;
    margin-bottom: 1px;
    font-size: xx-large;
    font-weight: 800;
}
.playbar{
    position: fixed;
    bottom: 30px;

    background-color: #c5a6ab;
    
    border-radius: 30px;
    padding: 30px;
    width: 70vw;
    padding-top: 10px;
    
    
    
}
 .playbar  img{
    border: 1px solid  white;
    background-color:  white;
    border-radius: 95%;
    width: 20px;
    padding: 8px;
    cursor: pointer;
}

.playbutton{
    display: flex;
    justify-content: center;
    gap: 11px;
}
.seekbar{
    height: 5px;
    width: 93%;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 9px;
}
.circle{
    height: 11px;
    width: 11px;
    position: relative;
    background-color: rgb(130, 92, 98);
    border-radius: 13px;
    top: 65px;
    left: 0%;
    transition: left 0.5s;
    cursor: pointer;
}

.songInfo{
    color: black;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.songName{
    margin: 10px;
}
.songTime{
    margin: 0px 50px;
}
.hamburger{
    width: 40px;
    display: none;
}
.hamClose{
    display: none;
}

@media (max-width :1250px) {
    .left{
        position: absolute;
        left: -100%;
        transition: all .3s;
        z-index: 1;
        width: 233px;
        background-color: pink;
    }
    .right{
        width: 98%;
    }
    .playbar{
        width: 75vw;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .b2{
        display: none;
    }
    .hamClose{
        display: block;
        padding-left: 150px;
        width: 60px;
        cursor: pointer;
    }
    .playbar  img{
        border: 0;
        background-color: #c5a6ab;
        border-radius: 0%;
        width: 20px;
        padding: 8px;
        cursor: pointer;
    }
    
    .playbutton{
        display: flex;
        justify-content: center;
        gap: 11px;
    }
    .songTime{
        display: none;
    }
    .seekbar{
        width: 90%;
    }
    .card {
        display: grid;
        grid-auto-flow: column;
       
        padding-bottom: 10px;
        margin-top: 20px;
        overflow-x: auto;
        gap: 20px;
        background-color:#e1cacd ;
        padding-top: 10px;
        border-radius: 5px;
    
    }
    .card::-webkit-scrollbar{
        width:0;
    }
    
    
    .c1{
    
        padding-top: 15px;
        padding: 15px;
        padding-bottom: 60px;
        
        
        margin-left: 10px;
        background-color: #dab6bc;
        border-radius: 5px;
        width: 152px;
        height: 180px;
        overflow:hidden;
        position: relative;
        margin: bottom 20px ;
        
    
    
    }
    
.card-container{

    margin: 7px;
    padding: 10px;
    padding-bottom: 100px;
    

}
.right::-webkit-scrollbar{
    width: 0;
}
    
}
